.biography-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--global-clamp);
}

.paragraph {
    max-width: 75vw;
    max-height: 50vh;
    overflow-y: auto;
    text-align: center;
    line-height: 1.5;
    color: var(--text-color);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--global-clamp);
    font-size: 2vw;
}

.text::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}