.contact-text {
    position: relative;
    max-width: 90%;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.contact-text h3 {
    font-size: clamp(1.5rem, 4vw, 2rem);
}

.contact-item {
    margin-bottom: 1.5rem;
}

.contact-info {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.contact-text a,
.copy-btn {
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.copy-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.contact-text a:hover,
.copy-btn:hover {
    color: rgb(212, 0, 255);
}

@media (max-width: 768px) {

    .contact-text a,
    .copy-btn {
        font-size: clamp(1.2rem, 5vw, 1.8rem);
    }
}