.portrait-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--global-clamp);
    max-height: 100%;
}

.portrait-title {
    align-self: flex-start;
    gap: var(--global-clamp);
    color: var(--text-color);
    font-size: 3.5vw;
}

.portrait {
    width: 75vw;
    height: 60vh;
    object-fit: cover;
    border-radius: var(--border-radius);
}

